<%- include('_header') %>

<h1>Deseja deletar essa leitura?</h1>

<form action="/delete/<%= model.Book_ID%>" method="post">


  <%- include("_display")%> 

  <div class="form-group row">
    <label for="" class="col-form-label col-sm-2"></label>
    <div class="col-sm-10">
      <input type="submit" value="Delete" class="btn btn-default btn-danger" />
      <a href="/books" class="btn btn-outline-dark cancel">Cancelar</a>
    </div>
  </div>
</form>

<%- include('_footer') %> 
